.wrap {
    display: flex;
    min-height: 52px;
    border-top: 2px solid grey;
    font-size: 16px;
}
.id {
    display: flex;
    flex-basis: 115px;
    justify-content: center;
    align-items: center;
}
.title {
    display: flex;
    flex-basis:417px ;
    align-items: center;

}
.status {

    display: flex;
    flex-basis: 123px;
    justify-content: center;
    align-items: center;
}
.executor {
    padding-left: 31px;
    display: flex;
    align-items: center;
}